@import url('font-face/font-awesome.min.css');
@import url('font/stylesheet.css');

html { font-size: 62.5%; height: 100%; }

.serif {}
    
body { 
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
    height: 100%;
    position: relative;
    cursor: default;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    font-family: "Gotham", Helvetica, Arial, sans-serif;
}
    
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, button {
    text-decoration: none;
    outline: 0 !important;
    cursor: pointer; }

.transition(@string: all 0.1s ease-in-out) {
    -webkit-transition: @string;
    -moz-transition:    @string;
    -ms-transition:     @string;
    -o-transition:      @string;
    transition:         @string;
}

.transform(@string) {
-webkit-transform: @string;
-moz-transform:    @string;
-ms-transform:     @string;
-o-transform:      @string;
transform:         @string;
}
    
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

ul { list-style: none; margin: 0; padding: 0; }

.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.fz(@pxValue) {
    @remValue: (@pxValue/10);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem"; }
    
.box-shadow(@x: 0, @y: 0, @blur: 3px, @red: rgba(0,0,0,0.3)) {
    -webkit-box-shadow:  @arguments;
    -moz-box-shadow:     @arguments;
    -ms-box-shadow:      @arguments;
    -o-box-shadow:       @arguments;
    box-shadow:          @arguments;
}

.gradient(@red: #F5F5F5, @start: #EEE, @stop: #FFF) {  background: @red;

  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
  background: -o-linear-gradient(@stop,
                                 @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.square(@x) {
    height: @x;
    width: @x; }
    
.db() { display: block; }
.dib() { display: inline-block; }
.none { display: none; }
.absol() { position: absolute; }
.fixed() {position: fixed; }
.rel() { position: relative; }
.fl() { float: left; }
.fr() { float: right; }
.no-pad { padding: 0; }
.ptb-80 { padding: 80px 0; }
.ptb-40 { padding: 40px 0; }
.gap-top { margin-top: 30px; }

section {
  .rel;
}

@mobile:    ~"all and (min-width: 320px) and (max-width: 640px)";
@tablet:    ~"all and (min-width: 320px) and (max-width: 959px)";
@custom:    ~"all and (min-width: 320px) and (max-width: 1024px)";
@desktop:   ~"all and (min-width: 960px) and (max-width: 1199px)";

.no-mobile {
  @media @mobile { .none;  }
}

.icon { .fz(48); }

.btn {
  background: none;
  padding: 7px 10px;
  outline: none; .dib;
  cursor: pointer;
  font-weight: bold;

  &.full {
    text-align: center;
    width: 100%;
  }

  &.lg {
    width: 100%;
    padding: 10px 14px;
    text-align: center;
    .fz(15);
  }

  &.white {
    color: white;
    border-color: white;
  }
}

.btn-group {
  .btn {
    .fl;
    &:not(:first-child) {
      border-left: 0;
    }
  }
}

@purp: #8f3f91;

//Body Styles
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0 20px;

  .logo {
    height: 100px;
    padding: 20px;
    float: left;
    text-align: center;

    img {
      max-height: 100%;
    }

    @media @mobile {
      width: 100%;
      height: 80px;
    }
  }

  .menu {
    float: right;

    ul {

      @media @mobile {
        text-align: center;
        padding: 10px 0;
      }

      li {
        float: left;
        margin-right: 20px;

        @media @mobile {
          float: none;
          display: inline-block;
          margin-right: 10px;
        }

        a {
          line-height: 100px;
          font-size: 12px;
          color: white;
          text-transform: uppercase;
          font-weight: bold;

          @media @mobile {
            line-height: 30px;
          }
        }
      }
    }

    &.background--dark {
      ul li a {
        color: #333;
      }
    }

    .menu-toggle {
      float: right;
      .square(100px);
      font-size: 20px;
      line-height: 100px;
      text-align: center;
      color: @purp;
      cursor: pointer;
      background: white;
    }
  }

  &.bg-dark {
    background: @purp;
  }

  &.fixed-header {
    position: fixed;
    z-index: 100;
  }
}

.bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 700px;
  max-height: 100%;
  z-index: 2;
}

.vignette {
background: -moz-linear-gradient(top,  rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.43) 66%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.81)), color-stop(66%,rgba(0,0,0,0.43)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.43) 66%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.43) 66%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.43) 66%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.43) 66%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  .square(100%);

  &.slick-slider {
    margin-bottom: 0;
  }

  .slick-list, .slick-track {
    height: 100%;
  }

  .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
  }
}

.tag {
  position: absolute;
  bottom: 80px;
  width: auto;
  left: 40px;
  padding: 20px 40px;
  height: 110px;
  z-index: 10;
  background: @purp;
  color: white;
  font-size: 20px;
  font-weight: 100;

  @media @mobile {
    font-size: 18px;
    padding: 40px 30px;
  }

  .company-name {
    margin: 0 0 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
  }

  h1 {
    margin: 0;
    font-weight: 100;
  }

  .email-us {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: lighten(@purp, 30%);
  }

  @media @mobile {
    width: 90%;
    right: 5%;
  }
} 

.box {
  .slick-slider {
    margin-bottom: 0;
  }

  p {
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
    margin: 0;
    color: #333;
  }

  a {
    font-size: 13px;
  }

  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: white; 

  @media @mobile {
    padding: 20px 30px;
  }
}


.pad-hero {
  top: -50px;
  position: relative;
  z-index: 2;
  clear: both;
}

.hero {
  background: @purp;
  width: 100%;
  float: left;
  padding: 200px 0;
  color: white;
  text-align: center;

  .main-text, .description-text {
    margin: 0 auto;
  }

  .main-text {
    max-width: 800px;
    font-weight: 100;
  }

  .description-text {
    max-width: 600px;
    margin-top: 20px;
    font-size: 18px;
  }

  &.hero-small {
    padding: 200px 0 100px;

    @media @mobile {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media @mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.project {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  background: center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background: #222;

  @media @mobile {
    padding-bottom: 100%;
  }

  .overlay, .link {
    position: absolute;
    .square(100%);
    top: 0;
    left: 0;
  }

  .overlays {
    li {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }

  &:hover {
    .overlay {
      opacity: 0.3;
    }
  }

  .link {
    z-index: 10;
  }

  .text {
    position: absolute;
    top: 0;
    padding: 30px 40px;
    color: white;
    width: 100%;

    .title {
      font-size: 20px;
      font-weight: 100;
      margin-bottom: 10px;
    }

    .footnote {
      margin-top: 0;
      font-weight: bold;
    }
  }
}

.footer {
  width: 100%;
  margin: 40px auto;
  text-align: center;

  .notes {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  }

  .social {
    a {
      .square(36px);
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 36px;
      background: @purp;
      color: white;

      &:hover {
        background: darken(@purp, 10%)
      }
    }
  }
}

.html_photoset {
  margin: 0 auto;
  display: table;
}

section {
  float: left;
  width: 100%;
  padding: 100px 100px 50px;
  clear: both;

  @media @mobile {
    padding: 40px 20px;
  }

  &.section-dk {
    background: whitesmoke;
  }

  .circle-icon {
    .square(24px);
    border-radius: 50%;
    background: @purp;
    color: white;
    line-height: 24px;
    display: inline-block;
    text-align: center;
  }

  .subtitle {
    margin: 30px 0 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
  }

  .title {
    font-weight: 100;
    color: @purp;
    position: relative;

    &.team-header {
      border-top: solid 1px @purp;
      padding-top: 10px;
    }
  }

  .text-content {
    line-height: 1.3;
    font-size: 17px;

    @media @mobile {
      font-size: 15px;
    }
  }
}

.founder {
  .avatar {
    .square(100px);
    border-radius: 50%;
    margin-bottom: 15px;
    overflow: hidden;

    @media @mobile {
      float: left;
      margin-right: 20px;
    }
  }

  .profile {
    @media @mobile {
      width: 100%;
    }
  }

  .role {

    @media @mobile {
      padding-top: 10px;   
    }

    p {
      margin: 0 0 5px 0;
      font-weight: bold;
      font-size: 20px;
    }

    span {
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .social {
    a {
      display: inline-block;
      margin-top: 10px;
      font-size: 20px;
    }
  }

  .bio {
    margin-left: 150px;
    padding: 20px 30px;
    border: solid 1px whitesmoke;
    border-width: 0 0 0 1px;

    @media @mobile {
      margin-left: 0;
      clear: both;
      border-width: 1px 0 0 0;
    }
  }
}
