@import url('font-face/font-awesome.min.css');
@import url('font/stylesheet.css');
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  height: 100%;
  position: relative;
  cursor: default;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  font-family: "Gotham", Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */
.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.no-pad {
  padding: 0;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
.gap-top {
  margin-top: 30px;
}
section {
  position: relative;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .no-mobile {
    display: none;
  }
}
.icon {
  font-size: 48px;
  font-size: 4.8rem;
}
.btn {
  background: none;
  padding: 7px 10px;
  outline: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}
.btn.full {
  text-align: center;
  width: 100%;
}
.btn.lg {
  width: 100%;
  padding: 10px 14px;
  text-align: center;
  font-size: 15px;
  font-size: 1.5rem;
}
.btn.white {
  color: white;
  border-color: white;
}
.btn-group .btn {
  float: left;
}
.btn-group .btn:not(:first-child) {
  border-left: 0;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.header .logo {
  height: 100px;
  padding: 20px;
  float: left;
  text-align: center;
}
.header .logo img {
  max-height: 100%;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .header .logo {
    width: 100%;
    height: 80px;
  }
}
.header .menu {
  float: right;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .header .menu {
    float: none;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .header .menu ul {
    text-align: center;
    padding: 10px 0;
  }
}
.header .menu ul li {
  float: left;
  margin-right: 20px;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .header .menu ul li {
    float: none;
    display: inline-block;
    margin-right: 10px;
  }
}
.header .menu ul li a {
  line-height: 100px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .header .menu ul li a {
    line-height: 30px;
  }
}
.header .menu.background--dark ul li a {
  color: #333;
}
.header .menu .menu-toggle {
  float: right;
  height: 100px;
  width: 100px;
  font-size: 20px;
  line-height: 100px;
  text-align: center;
  color: #8f3f91;
  cursor: pointer;
  background: white;
}
.header.bg-dark {
  background: #8f3f91;
}
.header.fixed-header {
  position: fixed;
  z-index: 100;
}
.bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 700px;
  max-height: 100%;
  z-index: 2;
}
.vignette {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.43) 66%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.81)), color-stop(66%, rgba(0, 0, 0, 0.43)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.43) 66%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.43) 66%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.43) 66%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.43) 66%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.slider.slick-slider {
  margin-bottom: 0;
}
.slider .slick-list,
.slider .slick-track {
  height: 100%;
}
.slider .slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
}
.tag {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  z-index: 10;
  background: rgba(143, 63, 145, 0.9);
  color: white;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .tag {
    height: 100px;
    padding: 20px 30px;
  }
}
.tag .company-name {
  margin: 0 0 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
}
.tag h1 {
  margin: 0;
  font-weight: 100;
}
.tag .email-us {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d097d2;
}
.box {
  font-weight: normal;
  position: absolute;
  text-align: right;
  padding: 0 40px;
  color: white;
  top: 0;
  right: 0;
  width: 400px;
}
.box .slick-slider {
  margin-bottom: 0;
}
.box p {
  font-size: 14px;
  font-weight: 100;
  line-height: 40px;
  margin: 0;
  color: white;
  display: inline-block;
  margin-right: 2px;
}
.box a {
  font-size: 10px;
  color: white;
}
.box a:hover {
  text-decoration: underline;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .box {
    left: 30px;
    bottom: 15px;
    top: auto;
    text-align: left;
    right: auto;
    padding: 0;
  }
}
.pad-hero {
  top: -50px;
  position: relative;
  z-index: 2;
  clear: both;
}
.hero {
  background: #8f3f91;
  width: 100%;
  float: left;
  padding: 200px 0;
  color: white;
  text-align: center;
}
.hero .main-text,
.hero .description-text {
  margin: 0 auto;
}
.hero .main-text {
  max-width: 800px;
  font-weight: 100;
}
.hero .description-text {
  max-width: 600px;
  margin-top: 20px;
  font-size: 18px;
}
.hero.hero-small {
  padding: 200px 0 100px;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .hero.hero-small {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.project {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  background: center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background: #222;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .project {
    padding-bottom: 100%;
  }
}
.project .overlay,
.project .link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.project .overlays li {
  display: none;
}
.project .overlays li:first-child {
  display: block;
}
.project:hover .overlay {
  opacity: 0.3;
}
.project .link {
  z-index: 10;
}
.project .text {
  position: absolute;
  top: 0;
  padding: 30px 40px;
  color: white;
  width: 100%;
}
.project .text .title {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}
.project .text .footnote {
  margin-top: 0;
  font-weight: bold;
}
.footer {
  width: 100%;
  margin: 40px auto;
  text-align: center;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .footer {
    padding: 0 20px;
  }
}
.footer .notes {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.footer .social a {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  background: #8f3f91;
  color: white;
}
.footer .social a:hover {
  background: #6c306d;
}
.html_photoset {
  margin: 0 auto;
  display: table;
}
section {
  float: left;
  width: 100%;
  padding: 100px 100px 50px;
  clear: both;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  section {
    padding: 40px 20px;
  }
}
section.section-dk {
  background: whitesmoke;
}
section .circle-icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #8f3f91;
  color: white;
  line-height: 24px;
  display: inline-block;
  text-align: center;
}
section .subtitle {
  margin: 30px 0 10px;
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
}
section .title {
  font-weight: 100;
  color: #8f3f91;
  position: relative;
}
section .title.team-header {
  border-top: solid 1px #8f3f91;
  padding-top: 10px;
}
section .text-content {
  line-height: 1.3;
  font-size: 17px;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  section .text-content {
    font-size: 15px;
  }
}
.founder .avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  overflow: hidden;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .founder .avatar {
    float: left;
    margin-right: 20px;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .founder .profile {
    width: 100%;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .founder .role {
    padding-top: 10px;
  }
}
.founder .role p {
  margin: 0 0 5px 0;
  font-weight: bold;
  font-size: 20px;
}
.founder .role span {
  text-transform: uppercase;
  font-size: 12px;
}
.founder .social a {
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
}
.founder .bio {
  margin-left: 150px;
  padding: 20px 30px;
  border: solid 1px whitesmoke;
  border-width: 0 0 0 1px;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .founder .bio {
    margin-left: 0;
    clear: both;
    border-width: 1px 0 0 0;
  }
}
